@font-face {
  font-family: 'sans';
  src:  url('../fonts/TheSans-Plain.otf');
  
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}  


.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}


html, body {
    background-color: #fff;
    font-family: 'Cairo', sans-serif;
    font-weight: 400; 
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden; //horizontal
    overflow-y: scroll; //vertical
}

.content {
    max-width: 1400px;
    min-width: 768px;
    margin: 0px auto 20px auto;
     
}



.signup-container{
      position: fixed;  
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0), rgba(0,0,0,.3)), url(../css/img/omrah_bg-01.jpg);
      background-position: center;
      background-size: cover;
      z-index: 100;   
   
    
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #029893 !important;
    -webkit-text-font-family:'cairo' !important;
}



.login-box{
    height: 510px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%)scale(1.4);
}

.login-box .center span.errortext{
    font-size: 8px;
    position: absolute;
    right:15px;
    top: 35px;
    color: rgba(242, 0, 0, 0.73);
}

.login-box .center .account span, .login-box .center .account a {
    font-size: 13px;
    float: right;
    display: block;
    margin-top: 13px
}
.login-box .center .account span{
    color: #029893
}
.login-box .center .account a{
    color: #ffde0a;
    margin-right: 30px
}



.parenterror{
    position: relative;
}

.login-box  .left-box{
    float: right;
    width: 450px;
    height: 510px;
    position: relative;
    
}

.login-box .right-box{
    width: 450px;
    height: 510px;
    background-image: url(../css/img/login_bg-01.jpg);
    background-size: cover;
    background-position: center;
    float: right;
    border-radius: 20px;
    
}
.login-box  .left-box .center{
    width: 300px;
    margin: 0 auto;
   
}

.login-box  .left-box h1{
    text-align: center;
    font-size: 150%;
    font-weight: 600;
    color: #029893;
    margin-bottom: 20px;
    margin-top: 30px;
        
}

.login-box  .left-box p{
    text-align: center;
    font-size: 65%;
    line-height: 25px;
    color: #ffde0a;
}

.login-box  .left-box input , .login-box  .left-box .mysignup  {
    display: block;
    height: 35px;
    line-height: 35px;
    width: 300px;
    text-align: right;
    padding: 5px 20px;
    border-radius: 20px;
    vertical-align: middle;
    border: 1px solid #029893;
    font-size: 80%;
    color: #029893;
    margin: 0 auto 15px auto;
    outline: none;
    font-size: 13px;
    
}

.login-box  .left-box input::placeholder{color: #029893;font-size: 90%;} 

.login-box  .left-box .my_username{
    margin-top: 15px;
    margin-bottom: 15px;
}
.login-box  .left-box input.password{
    margin-bottom: 15px;
}
.login-box  .left-box input.passpace{
    margin-bottom:10px;
}

.login-box  .left-box input.my_checkbox{    
    display: block;
    float: right;
    margin-left: 5px;
    width: 15px;
    margin-right: 10px;
    margin-bottom: 10px
   
        
}

.login-box  .left-box p.forget{
    float: left;
    line-height: 35px;
    font-size: 60%;
    margin-bottom: 20px;
    
}

.login-box .left-box label{
   display: block;
   float: right;
   font-size: 60%;
   line-height: 35px;
   color: #029893;
   margin-bottom: 20px;
}


.login-box  .left-box .mysignin, .login-box  .left-box .myreset{
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 10px; 
    padding: 0;   
    font-weight: 300;
    margin: 0px auto 15px auto;
    background-image: linear-gradient(#ededed,#cccccc);
    color: #fff;
    border: none;
    cursor: default;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
}


.login-box  .left-box .mysignin.true, .login-box  .left-box .myreset.true{
    background-image: linear-gradient(#029893,#5EB65C);
    color: #fff;
    cursor: pointer;
}


.login-box  .left-box .my_social{
    width: fit-content;
    text-align: center;
    width: -moz-fit-content;
    margin: 0px auto;
    
}
.login-box  .left-box .my_social a{
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    margin: 0 5px 0 5px;
}

.login-box  .left-box .my_social i{
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
    color: #fff;
    font-size: 60%
    
}


.login-box  .left-box .my_social i.icon_facebook{
    background-color: #3e5c9a;
}

.login-box  .left-box .my_social i.fa-google-plus{
    background-color: #df4b38;
   
}

.login-box  .left-box  .userlocation{
    margin-bottom:-10px;
}
.login-box  .left-box p.or {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
}


.login-box  .left-box p.orsign{
    position: relative;
    top: -12px;
}
.login-box  .left-box .socialsign{
    position: relative;
    top: -12px;
}

.login-box  .left-box p.or::after{
    content: '';
    display: block;
    width:40px;
    height: 2px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(0,-50%)
}
.login-box  .left-box p.or::before{
    content: '';
    display: block;
    width:40px;
    height: 2px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0,-50%)
}


.signup-box .center h1{
    margin-top: 10px;
    margin-bottom: 0
}

.login-box  .left-box .nameinfo{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin-bottom: -3px    
}
.login-box  .left-box .nameinfo span.fnamerror{
    top:160px;
    right: 90px
}
.login-box  .left-box .nameinfo span.lnamerror{
    top:160px;
    right: 240px
}

.login-box  .left-box .nameinfo input {
    display: block;
    float: left;
    width: 49%;
    text-align: center;
    margin-bottom: 12px
    
} 
 .login-box  .left-box span.phonerror{
    top:38px;
}

.login-box .left-box .email{
    margin-top: 14px;
}


.login-box  .left-box .mysignup, .login-box  .left-box  .myreset{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    font-size: 70%;
    text-align: center;
    line-height: 20px;
    background-image: linear-gradient(#ededed,#cccccc);
    color: #fff;
    border: none;
    cursor: default;
    
}

.login-box  .left-box  .myreset, .login-box  .left-box  #email {
    margin-top: 50px;
}

.login-box  .left-box .mysignup.true{
    background-image: linear-gradient(#029893,#5EB65C);
    color: #fff;
    cursor: pointer;
}






.login-box .left-box i{
    position: absolute;
    font-size: 16px;
    color: #cccccc;
    cursor: pointer;
    
}
.login-box .left-box .eye{
    top: 282px;
    left: 85px;
    z-index: 1

}

.login-box .left-box .reye{
    top: 332px;
    left: 85px;
    z-index: 1

    
}
.login-box .left-box .eyesign{
    top: 230px;
    left: 85px;
    z-index: 1
}

.login-box .left-box .phoneNo{
    text-align: center
}
.login-box .left-box .eye.showpass ,.login-box .left-box .reye.showpass, .login-box .left-box .eyesign.showpass{
    color: #5EB65C;
}



            .iti-flag {background-image: url(../vendors/img/flags.png);}
                @media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi){
                    .iti-flag{
                        background-image: url(../vendors/img/flags@2x.png);
                    }
                }
                .iti__country-list{
                    width: 200px;
                    font-size: 50%;
                    overflow-x: hidden;

                }

.error {
                border-color: red !important ;
            }




@media only screen and (max-width: 1400px) {
    .login-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)scale(1.2);
    }
}

@media only screen and (max-width: 1200px) {
    .login-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)scale(1);
    }
}

@media only screen and (max-width: 1024px) {

    .login-box .right-box {
        display: none
    }
}